/* Стили для index.html */

/* цвет основного текста #212121 */
/* Шапка FFFFFF #212121*/
/* Вторичный цвет текста #757575 */
/* Белый цвет #FFFFFF */
/* Лого 000000 #2196F3 */
/* Акцент 2196F3 */
/* Футер (мыло,тел) #FFFFFF 60 */
/* Цвет фона ffffff*/
/* Цыет фона шапки #2F303A */
/* Цвет вторичного фона #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Page-Header */

header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.page-header {
}

/* Main nav */

.main-nav {
  display: flex;
  align-items: center;
  height: 80px;
}

/* Site-nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav > .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: inline-flex;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
}

/* .current:hover::after {
  background-color: var(--accent-color);
} */

.current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--accent-color);
}

/* Auth-nav */

.auth-nav-position {
  margin-left: auto;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.icon-malito {
  align-items: baseline;
}

.link-auth-nav {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-auth-nav:hover,
.link-auth-nav:focus {
  color: var(--accent-color);
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* .contacts-icon:hover {
  color: #ffffff;
} */

/* Hero */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-bg {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-color: rgba(196, 196, 196, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.hero-button {
  display: block;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0;
  min-width: 200px;
  margin: 0 auto;

  color: rgba(33, 33, 33, 1);
  background-color: var(--accent-color);

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;

  animation: scale 3s infinite;
}

@keyframes scale {
  0% {
    background-color: rgba(245, 244, 250, 1);
    transform: scale(1);
  }

  50% {
    background-color: var(--accent-color);
    transform: scale(1.25);
  }

  100% {
    background-color: var(--accent-color);
    transform: scale(1);

    color: #ffffff;
  }
}

/* Features */

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  flex-wrap: nowrap;
}

.features-list .item {
  width: 270px;
}

.features-list .item + .item {
  margin-left: 30px;
}

.features-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.features-container-icon {
  display: inline-flex;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 244, 250, 1);
}

.title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  margin-bottom: 10px;
}

/* Service */

.services {
  padding-bottom: 94px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services .item + .item {
  margin-left: 30px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.services-wrap {
  position: relative;
}

.services-item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.services-top-text {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 27px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/* Team */

.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  color: var(--primary-text-color);
}

.team-list {
  display: flex;
  flex-wrap: nowrap;
}

.team-list .item {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-members {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-text {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link:hover {
  background-color: var(--accent-color);
  color: #ffffff;
}

.team-soc-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* Clients */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-links {
  width: 170px;
  height: 92px;
  justify-content: center;
  color: #afb1b8;
  display: inline-flex;
  border-radius: 4px;
  align-items: center;
  border: 1px solid rgba(175, 177, 184, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: currentColor;
}

.clients-links:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-links:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Footer */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.container-footer {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  display: flex;
  align-items: baseline;
}

.location {
  color: #ffffff;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 20px;
  margin-bottom: 9px;
}

.auth-nav-footer > li + li {
  margin-top: 9px;
}

.footer-auth-nav {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-auth-nav:hover,
.footer-auth-nav:focus {
  color: var(--accent-color);
}

.social-footer {
  display: inline-block;
  margin-left: 70px;
}
.social-footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  color: #ffffff;
  text-align: left;
  margin-bottom: 20px;
}

.social-footer-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-footer-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-icon {
  fill: currentColor;
}

.social-footer-link:hover {
  background-color: var(--accent-color);
}

.social-footer-link:focus {
  background-color: var(--accent-color);
}

.subscribe-footer {
  display: block;
  margin-left: 93px;
  justify-content: baseline;
}

.subscribe-footer-mail {
  width: 358px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(47, 48, 58, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-footer-mail:hover {
  border-color: var(--accent-color);
}

.subscribe-footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  color: #ffffff;
  text-align: left;
  margin-bottom: 20px;
}

.subscribe-footer-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

/* Стили для Портфолио */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filter {
  display: flex;
  align-items: center;
  padding: 6px 22px;

  color: var(--title-text-color);
}

.portfolio-filter .item + .item {
  margin-left: 8px;
}

.portfolio-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 6px 22px;

  color: var(--title-text-color);
  margin-left: auto;
  margin-right: auto;
}

.portfolio-btn {
  margin-bottom: 50px;
}

.portfolio-btn .item + .item {
  margin-left: 8px;
}

.site-nav-portfolio {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-portfolio:hover,
.site-nav-portfolio:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
}

/* Portfolio */

.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-list .portfolio-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.portfolio-list .portfolio-item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list .portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item {
}

.portfolio-item:hover .portfolio-top-text {
  transform: translateY(0%);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards {
  padding: 20px 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-model {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.close-model:hover {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 58px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
}
.modal-input:hover {
  border-color: var(--accent-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
}

.modal-comment:hover {
  border-color: var(--accent-color);
}

.modal-mailing {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}
.modal-text-checkbox {
  font-size: 14px;
  line-height: 1.7;
  color: var(--accent-color);
}

.btn-model {
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  margin-top: 30px;
}
